audio_files/hindi_eng_sample_seg1.mp3
audio_files/gettysburg_johng_librivox.m4b
audio_files/hindi_eng_sample.mp3
audio_files/result_seg1.wav
audio_files/The_Internet_Said_So_EP158_seg1.mp3
audio_files/The_Internet_Said_So_EP158_seg1.wav
audio_files/The_Internet_Said_So_EP158.mp3
audio_files/videoplayback_seg1.mp3
audio_files/videoplayback.wav
summeet_package/static/uploads/sample_video_seg1.mp3
summeet_package/static/uploads/The_Internet_Said_So_EP158_seg1.mp3
videos/videoplayback.mp3
videos/videoplayback.mp4
