<link href="{{url_for('static',filename='css/email_input.css')}}" rel="stylesheet">

<ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
    <li>
        <a href="javascript:;">
            <div class="form-group form-group-sm">
                <label class="control-label">Subject:</label>
                <input type="text" class="form-control" placeholder="Report name">
            </div>
            <div class="form-group form-group-sm">
                <label>Schedule:</label>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Frequency of the report scheduler">
                    <span class="input-group-btn">
                        <button class="btn red" type="button"><i class="fa fa-calendar-plus-o"></i></button>
                    </span>
                </div>
            </div>
            <div class="form-group">    
                <label>Recipients:</label>
              <div class="input-group input-group-md">
                <input type="text" id="example_emailBS" name="example_emailBS" class="form-control" value='["damian.raffa@mobileum.com","user@mobileum.com"]'>
                <span class="input-group-btn">
                  <button class="btn red" type="button"><i class="fa fa-calendar-plus-o"></i></button>
                 </span>
              </div>
            </div>
        </a>
    </li>
    <li>
        <a href="javascript:;">
            <div class="form-group form-group-md">    
                <label>Recipients:</label>    
                <input type="text" id="example_emailBS" name="example_emailBS" class="form-control" placeholder="Report name" value='["damian.raffa@mobileum.com","user@mobileum.com"]'>
            </div>
        </a>
    </li>                                        
    <li>
        <a href="javascript:;">
            <div class="form-actions right">
                <button type="button" class="btn btn-sm default">Cancel</button>
                <button type="submit" class="btn btn-sm green">Subscribe</button>                                                    
            </div>
        </a>
    </li>
    <li>
        <a href="javascript:;">
            <span class="time">9 days</span>
            <span class="details">
                <span class="label label-sm label-icon label-danger">
                    <i class="fa fa-bolt"></i>
                </span> Storage server failed. </span>
        </a>
    </li>
    <li>
        <a href="javascript:;">
            <span class="time">just now</span>
            <span class="details">
                <span class="label label-sm label-icon label-success">
                    <i class="fa fa-plus"></i>
                </span> New user registered. </span>
        </a>
    </li>
</ul>




<div class='container'>
<div class='row'>
<h2>Bootstrap Example</h2>
<div class='form-group'>
<div class='col-md-4'>
<h4 for='example_emailBS'>Input email addresses</h4>
<input type='text' id='example_emailBS' name='example_emailBS' class='form-control' value='["hello@git.com","tom@net.com"]'>
</div>
<div class='col-sm-offset-2 col-sm-4'>
<h4>Current email addresses</h4>
<pre id='current_emailsBS'></pre>
</div>
</div>
</div>
</div>

<script type="text/javascript">

//Plug-in function for the bootstrap version of the multiple email
$(function() {
//To render the input device to multiple email input using BootStrap icon
$('#example_emailBS').multiple_emails({position: "bottom"});
//OR $('#example_emailBS').multiple_emails("Bootstrap");

//Shows the value of the input device, which is in JSON format
$('#current_emailsBS').text($('#example_emailBS').val());
$('#example_emailBS').change( function(){
$('#current_emailsBS').text($(this).val());
});
});



//Plug-in function for the bootstrap version of the multiple email
$(function() {
//To render the input device to multiple email input using a simple hyperlink text
$('#example_emailB').multiple_emails({theme: "Basic"});

//Shows the value of the input device, which is in JSON format
$('#current_emailsB').text($('#example_emailB').val());
$('#example_emailB').change( function(){
$('#current_emailsB').text($(this).val());
});
});
</script>